<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="icon" th:href="@{/image/logo-icon.png}">
	<title>Workflow Management</title>
	
  	<link href="/img/apple-touch-icon.png" rel="apple-touch-icon">

  	<!-- Google Fonts -->
  	<link rel="preconnect" href="https://fonts.googleapis.com">
  	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  	<!-- Vendor CSS Files -->
  	<link href="/css/index/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  	<link href="/css/index/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  	<link href="/css/index/vendor/aos/aos.css" rel="stylesheet">
  	<link href="/css/index/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  	<link href="/css/index/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  	<!-- Template Main CSS File -->
  	<link href="/css/index/main.css" rel="stylesheet">
</head>
<body>

  <!-- ======= Header ======= -->
  <section id="topbar" class="topbar d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-envelope d-flex align-items-center"><span>[[${#request.remoteUser == null ? 'Chưa đăng nhập' : (acc.email != null && acc.email != '') ? acc.email : 'Chưa có thông tin' }]]</span></i>
        <i class="bi bi-phone d-flex align-items-center ms-4"><span>[[${#request.remoteUser == null ? 'Chưa đăng nhập' : (acc.phone != null && acc.phone != '') ? acc.phone : 'Chưa có thông tin' }]]</span></i>
      </div>
      <div class="social-links d-none d-md-flex align-items-center" th:if="${#request.remoteUser}">
        <span>Xin chào: <strong><u>[[${#request.remoteUser}]]</u></strong></a></span>
        <a th:href="@{/logoff}" >Đăng xuất</a>
      </div>
      <div class="social-links d-none d-md-flex align-items-center" th:unless="${#request.remoteUser}">
        <a th:href="@{/login}" >Đăng Nhập</a>
      </div>
    </div>
  </section><!-- End Top Bar -->

  <header id="header" class="header d-flex align-items-center">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
      <a href="index.html" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="/image/logo-icon.png" alt=""> -->
        <h1>PK DEV</h1>
      </a>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="#hero">Trang chủ</a></li>
          <li class="dropdown"><a href="#"><span>Tài khoản</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="#">Thông tin tài khoản</a></li>
              <li><a href="/change">Đổi mật khẩu</a></li>
            </ul>
          </li>
        </ul>
      </nav><!-- .navbar -->

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>
  </header>
  <!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero">
    <div class="container position-relative">
      <div class="row gy-5" data-aos="fade-in">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center text-center text-lg-start">
          <h2>Welcome to <span>Workflow Management</span></h2>
          <p>Trình quản lý bản thân</p>
        </div>
        <div class="col-lg-6 order-1 order-lg-2">
          <img src="assets/img/hero-img.svg" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="100">
        </div>
      </div>
    </div>

    <div class="icon-boxes position-relative">
      <div class="container position-relative">
        <div class="row gy-4 mt-5">

          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-easel"></i></div>
              <h4 class="title"><a href="" class="stretched-link">Lorem Ipsum</a></h4>
            </div>
          </div><!--End Icon Box -->

          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-gem"></i></div>
              <h4 class="title"><a href="" class="stretched-link">Sed ut perspiciatis</a></h4>
            </div>
          </div><!--End Icon Box -->

          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-geo-alt"></i></div>
              <h4 class="title"><a href="" class="stretched-link">Magni Dolores</a></h4>
            </div>
          </div><!--End Icon Box -->

          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-command"></i></div>
              <h4 class="title"><a href="" class="stretched-link">Nemo Enim</a></h4>
            </div>
          </div><!--End Icon Box -->
        </div>
      </div>
    </div>

    </div>
  </section>
  <!-- End Hero Section -->

  <main id="main">

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio sections-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Trình quản lý</h2>
        </div>

        <div class="portfolio-isotope" data-aos-delay="100">

          <div class="row gy-4 portfolio-container">

            <div class="col-xl-4 col-md-6 portfolio-item filter-app" th:each="menu : ${menuTask}">
              <div class="portfolio-wrap">
                <a th:href="${menu.url}"><img th:src="${menu.image}" class="img-fluid" alt=""></a>
                <div class="portfolio-info" style="height: 150px">
                  <h4><a th:href="${menu.url}" title="More Details">[[${menu.nameTask}]]</a></h4>
                  <p>[[${menu.describe}]]</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-info">
          <a href="index.html" class="logo d-flex align-items-center">
            <span>PK Dev</span>
          </a>
          <p>Trình quản lý việc làm, công việc, bản thân, tiền bạc.</p>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Liên kết</h4>
          <ul>
            <li><a href="#">Trang chủ</a></li>
            <li><a href="#">Giới thiệu</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Dịch vụ</h4>
          <ul>
            <li><a href="#">Hướng dẫn</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>Liên hệ</h4>
          <p>
            Trần Xuân Soạn <br>
            P.Tân Hưng, Q.7<br>
            Hồ Chí Minh <br><br>
            <strong>Phone:</strong> +84 858 343 798<br>
            <strong>Email:</strong> pkduy003@gmail.com<br>
          </p>

        </div>

      </div>
    </div>

    <div class="container mt-4">
      <div class="copyright">
        &copy; Copyright <strong><span>PK</span></strong>. All Rights Reserved
      </div>
    </div>

  </footer><!-- End Footer -->
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="/js/index/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/js/index/vendor/aos/aos.js"></script>
  <script src="/js/index/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/js/index/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="/js/index/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/js/index/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/js/index/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/js/main.js"></script>

</body>
</html>